
/* Ubuntu-ish Colour theme
   Dark brown - #332532
   Light brown - #644D52
   Peach - #F77A52
   sunshine - #FF974F
   grey blue - #A49A87
 */

 /* alternative theme including white
  offwhite - #f8f8f8
  cream - #f2e5bd
  apple - #b9bf83
  pear - #a69f7c
  chocolate - #8c6865
  black - #000000
 */

 /* lavender theme including white
  purple - #6765AD
  blue - #8FB0FF
  offwhite - #F8F8F8
  lightgreen - #89B28A
  darkgreen - #577043
  black - #000000
 */

/* reset all margins and padding*/
 * {
margin: 0;
padding: 0;
font-family: 'Rosario', sans-serif; !important;
}

body {
    background-color: #f8f8f8;
}

h1 {
    color: #6765AD;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px
}

p {
  color: #577043;
  margin-left: 20px;
  margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#89B28A;
    position: fixed;
    top: 0;
    width: 100%;
}

nav li {
  float: left;
  border-right: 1px solid #577043;
}


nav li:last-child {
    border-right: none;
}

nav li a {
    display: inline-block;
    color: #577043;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


nav li a:hover {
    color: #f8f8f8;
}

.active {
    background-color:  #f8f8f8;
    color: #6765AD;
}
a.active:hover{
  color: #6765AD;

}

.mainbody{
  padding-top: 75px;
}

.optionselect{

  color:#577043;
  margin-left: 50px;

}

.scale {
  padding-top: 25px;
  margin-left: 50px;
  margin-bottom: 5px
}
.audio {
  margin-left: 50px;
  margin-bottom: 20px;
  float: left;
}
.audio2 {
  margin-left: 50px;
  margin-bottom: 20px;
  float: left;
}

.audioheader {
    margin-left: 50px;
    margin-bottom: 10px;
    text-align:left;
    color: #577043;
}
.scale1name {
  position: relative;

}

.scale2name {
  position: absolute;
  left: 400px;
}

.looptext{
    color: #577043;
}
.submit{
    margin-top: 10px;
}

.scalearpselect{
  margin-top: 10px;
  color: #577043;
}

.pitchselect{
  margin-top: 10px;
  color:#577043;
}

.keyselect{
  margin-top: 10px;
  color: #A49A87;
}

.octaveselect{
  margin-top: 10px;
  color: #A49A87;
}

.indent{
  margin-left: 30px;
}

footer {
  padding-top: 75px;
  color: #A49A87;
  margin-left: 20px;

}
