
/* Ubuntu-ish Colour theme
   Dark brown - #332532
   Light brown - #644D52
   Peach - #F77A52
   sunshine - #FF974F
   grey blue - #A49A87
 */

 /* alternative theme including white
  offwhite - #f8f8f8
  cream - #f2e5bd
  apple - #b9bf83
  pear - #a69f7c
  chocolate - #8c6865
  black - #000000
 */

 /* lavender theme including white
  purple - #6765AD
  blue - #8FB0FF
  offwhite - #F8F8F8
  lightgreen - #89B28A
  darkgreen - #577043
  nearly black -#292929
 */

 /* scheme picked from image
 light blue 199 217 236 #C7D9EC
 navy blue  75 87 134  #4b5786
 desaturated blue 86 129 178 #96b1cf
 mid blue 144 189 230 #90bde6
 really dark blue 23, 55, 94 #17375e
 orange 249 166 74 #f9a64a
 dark brown 162 83 55 #a25337
nearly black #292929
 */

/* reset all margins and padding*/
 * {
margin: 0;
padding: 0;
font-family: 'Rosario', sans-serif; !important;
}

body {
    background-color: #f8f8f8;
}

h1 {
    color: #17375e;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px
}

p {
  color:#292929;
  margin-left: 20px;
  margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#96b1cf;
    position: fixed;
    top: 0;
    width: 100%;
}

nav li {
  float: left;
  border-right: 1px solid  #4b5786;
}


nav li:last-child {
    border-right: none;
}

nav li a {
    display: inline-block;
    color:  #4b5786;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


nav li a:hover {
    color: #f8f8f8;
}

.active {
    background-color:  #f8f8f8;
    color: #4b5786;
}
a.active:hover{
  color: #4b5786;

}

#container{width:900px;}
#left{float:left;width:215px;}
#right{float:right;width:215px;}
#center{margin:0 auto;width:215px;}

.bg{
  height: 500px;
  background-image: url("/img/misc/violin.jpg");
  background-repeat: no-repeat;
  background-color: #292929;

}
.mainbody{
  padding-top: 75px;
}

.optionselect{

  color:#292929;
  margin-left: 50px;

}

.scale {
  padding-top: 25px;
  margin-left: 50px;
  margin-bottom: 5px
}
.audio {
  margin-left: 50px;
  margin-bottom: 20px;
  float: left;
}
.audio2 {
  margin-left: 50px;
  margin-bottom: 20px;
  float: left;
}

.audioheader {
    margin-left: 50px;
    margin-bottom: 10px;
    text-align:left;
    color: #292929;
}
.scale1name {
  position: relative;

}

.scale2name {
  position: absolute;
  left: 400px;
}

.looptext{
    color: #292929;
}
.submit{
    margin-top: 10px;
}

.scalearpselect{
  margin-top: 10px;
  color: #292929;
}

.pitchselect{
  margin-top: 10px;
  color:#292929;
}

.keyselect{
  margin-top: 10px;
  color:#292929;
}

.octaveselect{
  margin-top: 10px;
  color: #292929;
}

.indent{
  margin-left: 30px;
}

.footer {
  color:#4b5786;
  margin-left: 20px;

}

.cleff {
position: absolute;
left: 150px;
top: 70px;
}
