<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
<title>{{.Title}}</title>
</head>
<body>

<nav>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="scale">Scales &amp; Arpeggios </a></li>
  <li><a href="duets">Duets</a></li>
  <li><a class="active" href="diary">Diary</a></li>
</ul>
</nav>


<div class="mainbody">

<h1>{{.Title}}</h1>

<p> Practice and Lesson Tracker </p>


</div>

<!-- <img src="/img/major/a1.png"> -->


</body>
</html>
