<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<title>{{.Title}}</title>
</head>
<body>

<nav>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="scale">Scales</a></li>
  <li><a href="arp">Arpeggios</a></li>
  <li><a class="active" href="diary">Diary</a></li>
</ul>
</nav>


<div class="mainbody">

<h1>{{.Title}}</h1>

<p> Practice and Lesson Tracker </p>


</div>

<!-- <img src="/img/major/a1.png"> -->

<footer>
&copy; 2016
</footer>
</body>
</html>
