<!DOCTYPE html>
<html>
<head>
<!-- below line adds jQuery to the page -->
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<title>{{.Title}}</title>
</head>
<body>

<nav>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="scale">Scales &amp; Arpeggios </a></li>
  <li><a class="active" href="duets">Duets</a></li>
</ul>
</nav>


<div class="mainbody">
<h1>Practice Duets</h1>
<p> Franz Wohlfahrt Scale Duets</p>
<p>Franz Wohlfahrt (7 March 1833 - 14 February 1884) was a violin teacher in Leipzig Germany. He wrote the following duets around scales.</p>
</div>

<div class="optionselect">
  <form action="/duetshow" method="post">

      <div class="duetselect">
       {{range .DuetOptions}}
         <input type="radio" name={{.Name}} value={{.Value}} {{if .IsDisabled}} disabled=true {{end}} {{if .IsChecked}}checked{{end}}> {{.Text}}
       {{end}}<br>
      </div>

  </form>
</div>

{{with $2:= .DuetImgPath}}
  <div class="duet">
    <img src="/{{$2}}" id="duetImage">
  </div>
{{end}}



<!-- some jquery to make the selection form submit itself if the user changes the duet radio buttons -->
<script type='text/javascript'>
 $(document).ready(function() {
   $('input[name=Duet]').change(function(){
     $('form').submit();
   });
});
</script>

</body>
</html>
