<!DOCTYPE html>
<html>
<head>
<!-- below line adds jQuery to the page -->
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<title>{{.Title}}</title>
</head>
<body>

<nav>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="scale">Scales &amp; Arpeggios </a></li>
  <li><a class="active" href="duets">Duets</a></li>
  <li><a href="diary">Diary</a></li>
</ul>
</nav>


<div class="mainbody">
<h1>Practice Duets</h1>
<p> Franz Wohlfahrt Scale Duets</p>
<p>Franz Wohlfahrt (7 March 1833 - 14 February 1884) was a violin teacher in Leipzig Germany. He wrote the following duets around scales.</p>
</div>



</body>
</html>
