<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
<title>{{.Title}}</title>
</head>
<body>

<nav>
<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="scale">Scales &amp; Arpeggios </a></li>
  <li><a href="duets">Duets</a></li>
</ul>
</nav>

<div class="bg">


<div class="mainbody">
<div class ="cleff"><img src="/img/misc/treble.png" height ="75" width="26" > </div>
<h1>{{.Title}}</h1>

<p>GoViolin is a helpful way to practice violin written in Go. </p>

<p>Listen to any scale or arpeggio with a few mouse clicks.</p>

<p>Play along to improve your intonation.</p>






</div>
</div>
<div class="footer">&copy; 2017 Rosie Hamilton -  Twitter: <a href="https://twitter.com/Rosicadia">@rosicadia</a>
- Blog: <a href="http://rosalita.github.io">rosalita.github.io</a>
- Source Code <a href="https://github.com/Rosalita/GoViolin">here on Github</a>
</div>
</body>
</html>
