<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<title>Page Title</title>
</head>
<body>

<nav>
<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#page1">Page 1</a></li>
  <li><a href="#page2">Page 2</a></li>
  <li><a href="#page3">Page 3</a></li>
</ul>
</nav>


<div class="mainbody">
<h1>This is a Heading</h1>
<p>This is a paragraph.</p>
</div>

<div class="dropdown">
<select>
 <option value="Amj">A Major</option>
 <option value="Bmj">B Major</option>
 <option value="Cmj">C Major</option>
 <option value="Dmj">D Major</option>
 <option value="Emj">E Major</option>
 <option value="Fmj">F Major</option>
 <option value="Gmj">G Major</option>
</select>

<button type="submit" form="form1" value="Submit">Submit</button>

</div>



<footer>
&copy; 2016
</footer>
</body>
</html>
