<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<title>Page Title</title>
</head>
<body>

<nav>
<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#page1">Page 1</a></li>
  <li><a href="#page2">Page 2</a></li>
  <li><a href="#page3">Page 3</a></li>
</ul>
</nav>


<div class="mainbody">
<h1>This is a Heading</h1>
<p>This is a paragraph.</p>
</div>

<div class="scaleselect">
<form action="/scale" method="post">
  <input type="radio" name="key" value="major" checked> Major<br>
  <input type="radio" name="key" value="minor"> Minor<br>
  <select class="dropdown">
   <option value="A">A</option>
   <option value="B">B</option>
   <option value="C">C</option>
   <option value="D">D</option>
   <option value="E">E</option>
   <option value="F">F</option>
   <option value="G">G</option>
  </select>

<!--    text:<input type="text" name="username"> -->
<!--    Password:<input type="password" name="password"> -->
    <input type="submit" value="Submit" class="dropdown">
</form>

</div>



<footer>
&copy; 2016
</footer>
</body>
</html>
