<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<title>{{.Title}}</title>
</head>
<body>

<nav>
<ul>
  <li><a href="/">Home</a></li>
  <li><a class="active" href="scale">Scales</a></li>
  <li><a href="arp">Arpeggios</a></li>
  <li><a href="diary">Diary</a></li>
</ul>
</nav>


<div class="mainbody">

<h1>{{.Title}}</h1>

{{with $2:= .ScaleImgPath}}
<div class="scale">
  <img src="/{{$2}}">
</div>
{{end}}


{{with $3:= .AudioPath}}
<div class="audio">
  <p>Path to audio: {{$3}}  </p>
<audio controls>
  <source src="/{{$3}}" type="audio/wav">
Your browser does not support the audio element.
</audio>
</div>
{{end}}





<p>Select a key and pitch.</p>
</div>

<div class="keyselect">
<form action="/scaleshow" method="post">
  <input type="radio" name="key" value="Major" checked> Major
  <input type="radio" name="key" value="Minor"> Minor<br>
  <div class="pitchselect">
    <input type="radio" name="pitch" value="A" checked> A
    <input type="radio" name="pitch" value="Bb"> Bb
    <input type="radio" name="pitch" value="B"> B
    <input type="radio" name="pitch" value="C"> C
    <input type="radio" name="pitch" value="C#/Db"> C#/Db
    <input type="radio" name="pitch" value="D"> D
    <input type="radio" name="pitch" value="Eb"> Eb
    <input type="radio" name="pitch" value="E"> E
    <input type="radio" name="pitch" value="F"> F
    <input type="radio" name="pitch" value="F#/Gb"> F#/Gb
    <input type="radio" name="pitch" value="G"> G
    <input type="radio" name="pitch" value="G#/Ab"> G#/Ab
</div>

<!--    text:<input type="text" name="username"> -->
<!--    Password:<input type="password" name="password"> -->
    <input type="submit" value="Submit" class="submit">
</form>

</div>




<!-- <img src="/img/major/a1.png"> -->

<footer>
&copy; 2016
</footer>
</body>
</html>
