<!DOCTYPE html>
<html>
<head>
<!-- below line adds jQuery to the page -->
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<title>{{.Title}}</title>
</head>
<body>

<nav>
<ul>
  <li><a href="/">Home</a></li>
  <li><a class="active" href="scale">Scales &amp; Arpeggios</a></li>
  <li><a href="duets">Duets</a></li>
</ul>
</nav>


<div class="mainbody">
<h1>Practice Scales &amp; Arpeggios</h1>
<div class="indent"><p>Improve your intonation by practicing scales and arpeggios</p></div>
</div>

<div class="optionselect">
  <form action="/scaleshow" method="post">

      <div class="scalearpselect">
       {{range .ScaleOptions}}
         <input type="radio" name={{.Name}} value={{.Value}} {{if .IsDisabled}} disabled=true {{end}} {{if .IsChecked}}checked{{end}}> {{.Text}}
       {{end}}<br>
      </div>
      <div class="pitchselect">
       {{range .PitchOptions}}
         <input type="radio" name={{.Name}} value={{.Value}} {{if .IsDisabled}} disabled=true {{end}} {{if .IsChecked}}checked{{end}}> {{.Text}}
       {{end}}
      </div>
      <div class="keyselect">
        {{range .KeyOptions}}
          <input type="radio" name={{.Name}} value={{.Value}} {{if .IsDisabled}} disabled=true {{end}} {{if .IsChecked}}checked{{end}}> {{.Text}}
        {{end}}
      </div>
      <div class="octaveselect">
        {{range .OctaveOptions}}
          <input type="radio" name={{.Name}} value={{.Value}} {{if .IsDisabled}} disabled=true {{end}} {{if .IsChecked}}checked{{end}}> {{.Text}}
        {{end}}
      </div>
  </form>
</div>

{{with $2:= .ScaleImgPath}}
  <div class="scale">
    <img src="/{{$2}}" id="scaleImage">
  </div>
{{end}}

<div class ="audioheader">
{{with $3:= .AudioPath}}  <span class="scale1name"> {{end}} {{.LeftLabel}} {{with $3:= .AudioPath}} </span> {{end}} {{with $3:= .AudioPath2}}  <span class="scale2name"> {{end}}{{.RightLabel}}  {{with $3:= .AudioPath2}} </span> {{end}}
</div>

<!-- switching static images to animated gifs is currently disabled.

<script type="text/javascript">
function audioPlay(){
  if ( {{.ScaleImgPath}} == "img/major/a1.png"){
    document.getElementById('scaleImage').src='{{.GifPath}}'
  }
}

function audioPause(){
  document.getElementById('scaleImage').src='{{.ScaleImgPath}}'
  document.getElementById('myAudio').currentTime = 0;

}
</script>
-->

{{with $3:= .AudioPath}}
  <div class="audio">
    <!-- to enable switching to animated gifs add onplay="audioPlay()" and onpause="audioPause()" to the audio controls -->
    <audio controls id="myAudio">
    <source src="/{{$3}}" type="audio/mp3">
    Your browser does not support the audio element.
    </audio> <div class ="looptext"><input type="checkbox" name="loop" onclick="loopClicker()">  Loop <br></div>
  </div>

<script type="text/javascript">
  function loopClicker(){
    if (document.getElementById("myAudio").loop == false){
      document.getElementById("myAudio").loop = true;
    } else {
      document.getElementById("myAudio").loop = false;
    }
  }
</script>
{{end}}

{{with $4:= .AudioPath2}}
  <div class="audio2">
    <audio controls id="myAudio2">
    <source src="/{{$4}}" type="audio/mp3">
    Your browser does not support the audio element.
  </audio> <div class ="looptext"><input type="checkbox" name="loop" onclick="loopClicker2()">  Loop <br></div>
  </div>
<script type="text/javascript">
  function loopClicker2(){
    if (document.getElementById("myAudio2").loop == false){
      document.getElementById("myAudio2").loop = true;
    } else {
      document.getElementById("myAudio2").loop = false;
    }
  }
</script>
{{end}}


<!-- some jquery to make the selection form submit itself if the user changes the scale/arpeggio, pitch, key or octave radio buttons -->
<script type='text/javascript'>
 $(document).ready(function() {
   $('input[name=Key]').change(function(){
     $('form').submit();
   });
});
$(document).ready(function() {
  $('input[name=Pitch]').change(function(){
    $('form').submit();
  });
});
$(document).ready(function() {
  $('input[name=Octave]').change(function(){
    $('form').submit();
  });
});
$(document).ready(function() {
  $('input[name=Scalearp]').change(function(){
    $('form').submit();
  });
});
</script>



</body>
</html>
