<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<title>{{.Title}}</title>
</head>
<body>

<nav>
<ul>
  <li><a href="/">Home</a></li>
  <li><a class="active" href="scale">Scales</a></li>
  <li><a href="arp">Arpeggios</a></li>
  <li><a href="diary">Diary</a></li>
</ul>
</nav>


<div class="mainbody">

<h1>{{.Title}}</h1>

{{with $2:= .ScaleImgPath}}
  <div class="scale">
    <img src="/{{$2}}">
  </div>
{{end}}


{{with $3:= .AudioPath}}
  <div class ="audioheader">
    <p>Play scale</p>
  </div>
  <div class="audio">
    <audio controls id="myAudio">
    <source src="/{{$3}}" type="audio/wav">
    Your browser does not support the audio element.
    </audio> <div class ="looptext"><input type="checkbox" name="loop" onclick="loopClicker()">  Loop <br></div>
  </div>
<script type="text/javascript">
  function loopClicker(){
    if (document.getElementById("myAudio").loop == false){
      document.getElementById("myAudio").loop = true;
    } else {
      document.getElementById("myAudio").loop = false;
    }
  }
</script>
{{end}}

{{with $4:= .AudioPath2}}
  <div class ="audioheader">
    <p>Play melodic minor scale</p>
  </div>
  <div class="audio">
    <audio controls id="myAudio2">
    <source src="/{{$4}}" type="audio/wav">
    Your browser does not support the audio element.
  </audio> <div class ="looptext"><input type="checkbox" name="loop" onclick="loopClicker2()">  Loop <br></div>
  </div>
<script type="text/javascript">
  function loopClicker2(){
    if (document.getElementById("myAudio2").loop == false){
      document.getElementById("myAudio2").loop = true;
    } else {
      document.getElementById("myAudio2").loop = false;
    }
  }
</script>
{{end}}

<p>Select a key and pitch.</p>
</div>

<div class="pitchselect">
  <form action="/scaleshow" method="post">
    {{range .PitchOptions}}
    <input type="radio" name={{.Name}} value={{.Value}} {{if .IsChecked}}checked{{end}}> {{.Text}}
    {{end}}
      <div class="keyselect">
        {{range .KeyOptions}}
        <input type="radio" name={{.Name}} value={{.Value}} {{if .IsChecked}}checked{{end}}> {{.Text}}
        {{end}}

      <!--  <input type="radio" name="key" value="A" checked> A
        <input type="radio" name="key" value="Bb"> Bb
        <input type="radio" name="key" value="B"> B
        <input type="radio" name="key" value="C"> C
        <input type="radio" name="key" value="C#/Db"> C#/Db
        <input type="radio" name="key" value="D"> D
        <input type="radio" name="key" value="Eb"> Eb
        <input type="radio" name="key" value="E"> E
        <input type="radio" name="key" value="F"> F
        <input type="radio" name="key" value="F#/Gb"> F#/Gb
        <input type="radio" name="key" value="G"> G
        <input type="radio" name="key" value="G#/Ab"> G#/Ab -->
      </div>
    <input type="submit" value="Select Scale" class="submit">
  </form>
</div>

<footer>
&copy; 2016
</footer>
</body>
</html>
